
.invalid-field {
  opacity: .7;
  padding: .7rem .9rem;
  background-color: lightyellow;
  max-width: 30rem;
  font-weight: bold;
  color: red;
}

.invalid-field img {
  width: 20px;
  margin-left: 20px;
}

.form-control{
  width: 100%;
  font-size: 20px;
  max-width: 500px;
  margin-bottom: 30px;

}

.form-control input {
  font-size: 20px;
}

.form-group {
  margin: 0 auto;
  color: white;
}

h2 {
  font-family: Roboto, serif;
  text-align: center;
}

.form-complect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px ;
  margin: 25px 50px ;
}
.form-style {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 20px;
}
.logErr{
  color: red;
  background-color: snow;
  font-weight: bold;
  padding: .7rem .9rem;
}

.socialpages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  background-color: azure;
  opacity: 0.9;
  padding: 0  0  2rem 0;
  border-radius: 5%;
}

.socialpages img {
  width: 3.9rem;
}

.socialpages img:hover {
  border: navy solid 2px;

}

p {
  padding: 2rem 0 2rem;
  text-align: center;
  font-size: 2.7rem;
  font-family: initial;
  font-style: italic;
  color: darkslateblue;
}

.custom-control-label {
  font-family: monospace;
  font-variant: all-petite-caps;
  font-size: 1.7rem;
  color: indigo;
}
